/* 
 * EdgeBox stylesheet
 */

 /* Css reset */
 html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}
 body{line-height:1}
 ol,ul{list-style:none}
 table{border-collapse:collapse;border-spacing:0}
 
 /* Basic style of the page */
 body {text-align: center; font-family:sans-serif;}
 h1 {color: transparent; background: url('images/edgebox.png'); width: 528px; height: 348px; margin: 0 auto;}
 #queryLabel {display:none;}
 #queryInput {font-size: 1.2em; width: 90%;}
 #querySubmit {font-size: 1.2em;}
 h2 {margin: 0.3em; font-weight: bold;}
 #advSort {margin: 0 auto;}
 #advSort td {border: 1px solid white; vertical-align: middle; padding: 2px;}
 #advSort th {border: 1px solid white; vertical-align: middle; text-align: right; padding: 5px;}

 #query{
	width: 40%;
	margin: 0 auto; 
 }
 
 #sorted, #byGPS {
  font-size: 0; 
 }
 
 #map_canvas {height: 250px;}
 
 /* Placeholder for results or error messages */
 #results, #messenger {
	display:none;
	width: 60%;
	float: right; 
 }
 
 #messenger{
	position: fixed;
	top: 0;
	left: 40%;
	width: 100%;
	height: 100%;
	background-color: white;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.8;
	z-index: 10000;
 }
 
 #message{
	padding-right: 40%;
	padding-top: 4em;
	display: block;
	font-size: 3em
 }

